
The style is : {{style}}<br />

<h1>The count is {{count}}</h1>

<button {{action 'toggle'}}>Toggle</button>

{{#if expanded}}
  <ol>
    <li>item</li>
    <li>item</li>
    <li>item</li>
    <li>item</li>
    <li>item</li>
  </ol>
{{/if}}
