<table class="I grew up with tables for layout">
  <tr>
    <td width="30%">
      <ol>
        <li>{{#link-to 'issue1'}}link-to classNameBindings{{/link-to}}</li>
        <li>{{#link-to 'issue2'}}ember-route-action-helper{{/link-to}}</li>
        <li>{{#link-to 'issue3'}}textarea value is true{{/link-to}}</li>
        <li>{{#link-to 'issue4'}}.set in afterRender{{/link-to}}</li>
      </ol>
    </td>
    <td>
      {{outlet}}
    </td>
  </tr>
</table>
