<h3>textarea value is true</h3>

<p>
  <a href="https://github.com/GavinJoyce/glammer/issues/3">Issue</a>
</p>

<hr />

textareaContent1: {{textarea value=textareaContent1}} <br />
textareaContent2: {{textarea value=textareaContent2}} <br />
