<h3>link-to classNameBindings</h3>

<p>
  The link-to below renders in htmlbars and raises a `Cannot read property '0' of null (in hasHelper)` exception in glimmer.
</p>

<hr />

<ul>
  <li>
    {{#link-to 'index' classNameBindings=":valid"}}
      #link-to 'index' classNameBindings=":valid"
    {{/link-to}}
    <pre>class="valid  ember-view"</pre>
  </li>
  <li>
    {{#link-to 'index' classNameBindings="invalid"}}
      #link-to 'index' classNameBindings="invalid"
    {{/link-to}}
    <pre>class="  ember-view"</pre>
  </li>
  <li>
    {{#amazing-link-to 'index'}}
      #amazing-link-to 'index' classNameBindings="isUrgent"
    {{/amazing-link-to}}
    <pre>class="ember-view priority-class is-urgent-from-class from-amazing-link-to"</pre>
  </li>
  <li>
    {{#amazing-link-to 'index' classNameBindings="isUrgentFromTemplate"}}
      amazing-link-to 'index'
    {{/amazing-link-to}}
    <pre>class="  ember-view priority-class is-urgent-from-class from-amazing-link-to"</pre>
  </li>
  <li>
    {{#amazing-link-to 'index' classNameBindings="isUrgentFromTemplate" priorityFromTemplateProperty="priority-from-template-property"}}
      amazing-link-to 'index'
    {{/amazing-link-to}}
    <pre>class="  ember-view priority-class is-urgent-from-class from-amazing-link-to"</pre>
  </li>
  <li>
    {{input value=dynamicProperty}}
    {{#amazing-link-to 'index' classNameBindings="isUrgentFromTemplate" priorityFromTemplateProperty=dynamicProperty}}
      amazing-link-to 'index'
    {{/amazing-link-to}}
    <pre>class="  ember-view priority-class is-urgent-from-class from-amazing-link-to"</pre>
  </li>
  <li>
    {{#amazing-link-to 'index' classNameBindings="templateClassNameBinding" templateClassNameBinding=dynamicProperty}}
      amazing-link-to 'index'
    {{/amazing-link-to}}
    <pre>class="  ember-view priority-class is-urgent-from-class from-amazing-link-to"</pre>
  </li>
</ul>
