<h3>textarea value is true</h3>

<p>
  <a href="https://github.com/GavinJoyce/glammer/issues/3">Issue</a>
</p>

<hr />

content1: {{textarea value=content1}} <br />
content2: {{textarea value=content2}} <br />

<hr />

content1: {{input value=content1}} <br />
content2: {{input value=content2}} <br />
