<h3>link-to classNameBindings</h3>

<p>
  The link-to below renders in htmlbars and raises a `Cannot read property '0' of null (in hasHelper)` exception in glimmer.
</p>

<hr />

{{#unless show}}
  <button onclick={{action (mut show) true}}>Show</button>
{{else}}
  {{#link-to 'index' classNameBindings="invalid"}}Click me to go to the index{{/link-to}}
{{/unless}}
